# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
env/
ENV/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS files
.DS_Store

# Logs
*.log

# Python distribution/build artifacts
build/
dist/
*.egg-info/

# Secrets and environment variables
*.env
.env

# Database
*.db
